<div class="row">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <p class="welcome">Registered Users</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.email_field :email, placeholder: "Email", autofocus: true, label: false %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>

            <div class="small-10 columns ">
              <%= f.password_field :password, placeholder: "Password", label: false %>
            </div>
          </div>

      <%= f.submit "Log in", class: "button" %>
      </div>
    </div>
    <% end %>
